/* .btn{
    align-items: end;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.protologo img{
    /* position: relative; */
    width: 130px;
    float:left;
    margin-right: auto;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 15px;
     
}
.top-nav{
    
    /* margin-top: 10px; */
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.75rem;
}
.navbar-toggler{
background-color: transparent; /* Make background transparent */
  border: none; /* Remove border */
  padding: 0.5rem; /* Add some padding */
  cursor: pointer;
  
}
.nav{
    /* margin-top: 20px;
    background-color: rgb(15, 6, 6); */
    
  margin: 20px;
  width: auto;
  overflow: hidden;

    display: flex;
    align-items: center;

  
}
.bg-image{
background-image: url(../assets/mainphoto.png);
/* position: relative; */
/* height: 59.1875rem; */
height: 150vh;
background-size: cover;
background-position: center;
text-align: center;

}

.nav-text{
    /* margin-right: 50px; */
    display: flex;
    gap: 1.875rem;
    color: white;
    text-align: center;
    margin-left: 350px;
    margin-top: 1.25rem;
    
}
.nav-text1{
    /* margin-right: 30px;
    text-align: center;
    margin-left: 200px; */
    margin-right: 1.875rem;
    text-align: center;
    
}
.nav-text2{
   margin-right: 1.875rem;
   text-align: center;
}
.nav-text3{
margin-right: 1.875rem ;
text-align: center;
}
.contact-button{
    /* margin-left: 800px; */
    margin-left: auto;
    float: right;
    margin-right: 3.125rem;
    padding-top: 0.9375rem;
    padding-right: 0.9375rem;
    text-align: center;
    align-items: flex-end;
    
}

.products{
    color: #25AAE1;
    font-size: 0.9375rem;
    
}
.dispton{
    color: #283891;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
   
}
.dispton1{
    color: #161C2D;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.875rem;
    margin-top: 5px;
}
.products{
    margin-top: 6.25rem;
    text-align: center;
    font-size: 0.8125rem;
    margin-bottom: 1px;

}
.img-cards{
    flex-direction: row;
    display: flex;
    margin-top: 4.375rem;
    
}
.img-cards2{
    flex-direction: row;
    display: flex;
    margin-top: .625rem;
    height: 21.875rem;
    width: 450;
    
    
}
.card-body{
   
   /* background-color: rgb(230, 235, 237); */
   
}
.card{
    margin-right:1.25rem!important;
    padding-top: .75rem;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-bottom: .75rem;
    background-color: rgb(248, 250, 250);
    
    }
.card-title{
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 1.25rem;
}
.card-text{
    font-size: .75rem;
    font-weight: 200;
    text-align: center;
    margin-top: 1.875rem;
}
.card-tex1{
    color: #161C2D;
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
    margin-top: 1.875rem;
}
.arrow{
    flex-direction: row;
    display: flex;
    text-align: center;
    font-weight: 500;
    margin-left: 3.125rem;
    margin-top: 1.25rem;
}
.arrow1{
    flex-direction: row;
    display: flex;
    text-align: center;
    font-weight: 500;
    margin-top: 2.5rem;
}
.text-above{
    position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:  4rem;
  text-align: center;
  color: white;
  font-weight: 600;
  margin-top: 10rem;
  display: flex;
  
}
.text-below{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 1.1875rem;
    text-align: center;
    color: white;
    font-weight: 200;
    margin-top: 9.375rem;
    display: flex;
    
}


.icon-details{
    flex-direction: column;
    display: flex;
}
.icon-header1{
    color: #283891;
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
}
.icon-headers1{
    color: #283891;
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
}
.icon-headers2{
    font-weight: 200;
    color: #283891;
    font-size: .8125rem;
    row-gap: .625rem;
    margin-bottom: 2.5rem;
}
.icon-header2{
    font-weight: 200;
    color: black;
    font-size: .8125rem;
    row-gap: .625rem;
    margin-bottom: 2.5rem;
}
.icon-dis{
    flex-direction: row;
    display: flex;
}
.icon-ic1{
    margin-right: 1.25rem;
}
.first-row{
    flex-direction: row;
    display: flex;
    margin-bottom: 3.75rem;
}
.second-row{
    flex-direction: row;
    display: flex;
}
.services{
    /* gap:.625rem;
    flex-direction: column;
    display: flex;
    margin-bottom: 3.75rem; */
    margin-bottom: 5rem;
    flex-direction: column;
    display: flex;
    text-align: center;

}

.icon-area1{
    margin-right: 2.5rem;
}
.icon-area2{
    margin-right: 2.5rem;
    margin-bottom: 6.25rem;
}
.span1{
    font-size: 1.25rem;
}

.about-section{
    background-color: rgb(232, 239, 242);
}

.service-section{
    margin-bottom: 6.25rem;
}
.about-dis{
    margin-bottom: 5rem;
    flex-direction: column;
    display: flex;
    text-align: center;
}
.video-dis{
    flex-direction: row;
    display: flex;
}

.video-img{
    margin-left:9.375rem;
    margin-right: 3.125rem;
}
.quotes{
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-left: 15.625rem;
    margin-bottom: 6.25rem;
}
.card-img-top1{
    height: 3.125rem;
    width: 3.125rem;
}
.footer{
    background-color: blue;
    height: 25rem;
    
}
.footer-text1{
    color: white;
    font-size: 1.875rem;
    font-weight: 500;
    text-align: center;
    padding-top: 6.25rem;
    margin-left: 20px;
    margin-bottom: 3.125rem;
}
.footer-text2{
    color:white;
    column-gap: .625rem;
    row-gap: .625rem;
    text-align: center;
    font-size: 1.125rem;
    margin-right: 30px;
}
.footer-text2 a{
    margin-left: 6.25rem;
}
.client1{
    flex-direction: row;
    display: flex;
    margin-left: 25rem;
    margin-right: 3.125rem;
    margin-bottom: 3.75rem;
}
.client2{
    flex-direction: row;
    display: flex;
    margin-left: 37.5rem;
    margin-bottom: 6.25rem;
}
.client{
    margin-right: 3.125rem;
}
.footer1{
    margin-right: .25rem;
}
.footer-icons{
    flex-direction: row;
    display: flex;
    margin-left:40.625rem;
    margin-top: 1.875rem;
    padding-top: 1.875rem;
}
.footer2{
    margin-right: 1.875rem;
}

/* media queries */

@media (max-width:1200px) {
    .protologo img{
        /* position: relative; */
        width: 6.25rem;
        float:left;
        margin-right: auto;
        cursor: pointer;
        padding-left: 10px;
        padding-top: 10px;
         
    }
    
    .nav-text{
        /* margin-right: 50px; */
        display: flex;
        gap: 1.875rem;
        color: white;
        text-align: center;
        /* margin-left: 31.25rem; */
        margin-left: 21.875rem;
        margin-top: 1.25rem;
        
    }
    .text-above{
        position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:  3rem;
      text-align: center;
      color: white;
      font-weight: 600;
      margin-top: 5rem;
      display: flex;
      
    }
    .text-below{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        text-align: center;
        color: white;
        font-weight: 200;
        margin-top: 4.5rem;
        display: flex;
        
    }
    .top-nav{
    
        /* margin-top: 10px; */
        flex-direction: column;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 1.75rem;
    }
    .nav{
        /* margin-top: 20px;
        background-color: rgb(15, 6, 6); */
     flex-direction: column;
      margin: 10px;
      width: auto;
      overflow: hidden;
    
        display: flex;
        align-items: flex-start;
    
    }
    .bg-image {
        height: 100vh;
    }
    .nav-text1{
        /* margin-right: 30px;
        text-align: center;
        margin-left: 200px; */
        margin-right: 1.875rem;
        text-align: center;
        
    }
    .nav-text2{
       margin-right: 1.875rem;
       text-align: center;
    }
    .nav-text3{
    margin-right: 1.875rem ;
    text-align: center;
    }
    .contact-button{
        /* margin-left: 800px; */
        margin-left: auto;
        float: right;
        margin-right: 2.rem;
        padding-top: 0.75rem;
        padding-right: 0.75rem;
        
    }
    .img-cards, .img-cards2 {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-right: 0;
        margin-bottom: 1.25rem;
    }
    .card-title {
        font-size: 1.125rem;
    }
    .card-text {
        font-size: .6875rem;
    }
    .card-tex1 {
        font-size: 1.5rem;
    }
    .dispton {
        font-size: 28px;
    }
    .dispton1 {
        font-size: 2rem;
    }
    .card {
        flex: 1 1 calc(50% - 2.5rem);
    }
    .icon-header1 {
        font-size: 1rem;
    }
    .icon-header2 {
        font-size: .75rem;
    }
    .first-row, .second-row, .video-dis, .quotes {
        flex-direction: column;
        align-items: center;
    }
    .video-img, .quotes {
        margin-left: 0;
        margin-right: 0;
    }
    .footer{
        background-color: blue;
        height: 20rem;
        
    }
    .footer-text1{
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        padding-top: 5rem;
        margin-left: 20px;
        margin-bottom: 3.125rem;
    }
    .footer-text2{
        color:white;
        column-gap: .625rem;
        row-gap: .625rem;
        text-align: center;
        font-size: 1rem;
        margin-right: 30px;
    }
    .footer-text2 a{
        margin-left: 6.25rem;
    }
    .client1{
        flex-direction: column;
        display: flex;
        margin-left: 10rem;
        margin-right: 1.5rem;
        margin-bottom: 2.5rem;
        align-items: center;

    }
    .client2{
        flex-direction: column;
        display: flex;
        margin-left: 10rem;
        margin-bottom: 4rem;
        align-items: center;
    }
    .client{
        margin-right: 3.125rem;
    }
    .footer1{
        margin-right: .25rem;
    }
    .footer-icons{
        flex-direction: column;
        display: flex;
        margin-left:0;
        margin-top: 1rem;
        padding-top: 1rem;
        align-items: center;
    }
    .footer2{
        margin-right: 1.875rem;
    }
    
}
@media (max-width:992px){
    .protologo img{
        /* position: relative; */
        width: 5rem;
        float:left;
        margin-right: auto;
        cursor: pointer;
        padding-left: 8px;
        padding-top: 8px;
         
    }
    .nav-text{
        /* margin-right: 50px; */
        display: flex;
        gap: 1.875rem;
        color: white;
        text-align: center;
        /* margin-left: 31.25rem; */
        margin-left: 160px;
        margin-top: 1.25rem;
        
    }
    .text-above{
        position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:  3rem;
      text-align: center;
      color: white;
      font-weight: 600;
      margin-top: 6rem;
      display: flex;
      
    }
    .text-below{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 0.875rem;
        text-align: center;
        color: white;
        font-weight: 200;
        margin-top: 6rem;
        display: flex;
        
    }
    .top-nav{
    
        /* margin-top: 10px; */
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 1.75rem;
        flex-direction: column;
    }
    .nav{
        /* margin-top: 20px;
        background-color: rgb(15, 6, 6); */
      flex-direction: column;
      margin: 10px;
      width: auto;
      overflow: hidden;
    
        display: flex;
        align-items: flex-start;
    
    }
    .bg-image {
        height: 90vh;
    }
    .nav-text1{
        /* margin-right: 30px;
        text-align: center;
        margin-left: 200px; */
        margin-right: 1.875rem;
        text-align: center;
        
    }
    .nav-text2{
       margin-right: 1.875rem;
       text-align: center;
    }
    .nav-text3{
    margin-right: 1.875rem ;
    text-align: center;
    }
    .contact-button{
        /* margin-left: 800px; */
        margin-left: auto;
        float: right;
        margin-right: 1.5rem;
        padding-top: 0.625rem;
        padding-right: 0.625rem;
        
    }
    .img-cards, .img-cards2 {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-right: 0;
        margin-bottom: 1.25rem;
    }
    .card-title {
        font-size: 1rem;
    }
    .card-text {
        font-size: .625rem;
    }
    .card-tex1 {
        font-size: 1.25rem;
    }
    .dispton {
        font-size: 24px;
    }
    .dispton1 {
        font-size: 1.75rem;
    }
    .card {
        flex: 1 1 calc(50% - 2.5rem);
    }
    .icon-header1 {
        font-size: .875rem;
    }
    .icon-header2 {
        font-size: .6875rem;
    }
    .first-row, .second-row, .video-dis, .quotes {
        flex-direction: column;
        align-items: center;
    }
    .video-img {
        margin: 0 auto;
    }
    .icon-ic1, .icon-area1, .icon-area2 {
        margin-right: 1.25rem;
    }
    .footer{
        background-color: blue;
        height: 18rem;
        
    }
    .footer-text1{
        color: white;
        font-size: 1.25rem;
        font-weight: 500;
        text-align: center;
        padding-top: 4rem;
        margin-left: 20px;
        margin-bottom: 3.125rem;
    }
    .footer-text2{
        color:white;
        column-gap: .625rem;
        row-gap: .625rem;
        text-align: center;
        font-size: 0.875rem;
        margin-right: 30px;
    }
    .footer-text2 a{
        margin-left: 6.25rem;
    }
    .client1{
        flex-direction: column;
        display: flex;
        margin-left: 5rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
        align-items: center;

    }
    .client2{
        flex-direction: column;
        display: flex;
        margin-left: 5rem;
        margin-bottom: 3rem;
        align-items: center;
    }
    .client{
        margin-right: 1rem;
    }
    .footer1{
        margin-right: .25rem;
    }
    .footer-icons{
        flex-direction: column;
        display: flex;
        margin-left:0;
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        align-items: center;
    }
    .footer2{
        margin-right: 1.875rem;
    }
}
@media (max-width: 768px) {
    .protologo img{
        /* position: relative; */
        width: 3.75rem;
        float:left;
        margin-right: auto;
        cursor: pointer;
        padding-left: 5px;
        padding-top: 5px;
         
    }
    .nav-text{
        /* margin-right: 50px; */
        display: flex;
        gap: 1.875rem;
        color: white;
        text-align: center;
        margin-left: 5rem;
        margin-top: 1.25rem;
        
    }
    .text-above{
        position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:  2.5rem;
      text-align: center;
      color: white;
      font-weight: 600;
      margin-top: 5rem;
      display: flex;
      
    }
    .text-below{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 0.75rem;
        text-align: center;
        color: white;
        font-weight: 200;
        margin-top: 5rem;
        display: flex;
        
    }
    .top-nav{
    
        /* margin-top: 10px; */
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 1.75rem;
        flex-direction: column;
    }
    .nav{
        /* margin-top: 20px;
        background-color: rgb(15, 6, 6); */
      flex-direction: column;
      margin: 5px;
      width: auto;
      overflow: hidden;
    
        display: flex;
        align-items: flex-start;
    
    }
    .bg-image {
        height: 80vh;
    }
    .nav-text1{
        /* margin-right: 30px;
        text-align: center;
        margin-left: 200px; */
        margin-right: 1.875rem;
        text-align: center;
        
    }
    .nav-text2{
       margin-right: 1.875rem;
       text-align: center;
    }
    .nav-text3{
    margin-right: 1.875rem ;
    text-align: center;
    }
    .contact-button{
        /* margin-left: 800px; */
        margin-left: auto;
        float: none;
        margin-right: auto;
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        display: block;
        text-align: center;

    }
    .navbar-collapse {
        display: none;
      }
    
      .navbar-collapse.block {
        display: block;
      }
    
      .navbar-toggler {
        display: block;
      }
    
      .protologo {
        flex-grow: 1;
      }
    .img-cards, .img-cards2 {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-right: 0;
        margin-bottom: 1.25rem;
    }
    .card-title {
        font-size: .875rem;
    }
    .card-text {
        font-size: .5625rem;
    }
    .card-tex1 {
        font-size: 1rem;
    }
    .dispton {
        font-size: 20px;
    }
    .dispton1 {
        font-size: 1.5rem;
    }
    .card {
        flex: 1 1 calc(100% - 2.5rem);
    }
    .arrow, .arrow1 {
        margin-left: 0;
    }
    .icon-header1 {
        font-size: .75rem;
    }
    .icon-header2 {
        font-size: .625rem;
    }
    .span1 {
        font-size: 1rem;
    }
    .first-row, .second-row, .video-dis, .quotes {
        flex-direction: column;
        align-items: center;
    }
    .video-img, .quotes {
        margin-left: 0;
        margin-right: 0;
    }
    .footer{
        background-color: blue;
        height: 15rem;
        
    }
    .footer-text1{
        color: white;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        padding-top: 3rem;
        margin-left: 20px;
        margin-bottom: 3.125rem;
    }
    .footer-text2{
        color:white;
        column-gap: .625rem;
        row-gap: .625rem;
        text-align: center;
        font-size: 0.75rem;
        margin-right: 30px;
    }
    .footer-text2 a{
        margin-left: 6.25rem;
    }
    .client1{
        flex-direction: column;
        display: flex;
        margin-left: 2rem;
        margin-right: 0.5rem;
        margin-bottom: 1.5rem;
        align-items: center;

    }
    .client2{
        flex-direction: column;
        display: flex;
        margin-left: 2rem;
        margin-bottom: 2rem;
        align-items: center;
    }
    .client{
        margin-right: 1rem;
    }
    .footer1{
        margin-right: .25rem;
    }
    .footer-icons{
        flex-direction: column;
        display: flex;
        margin-left:0;
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        align-items: center;
    }
    .footer2{
        margin-right: 1.875rem;
    }
    
}
@media (max-width: 576px){
    .protologo img{
        /* position: relative; */
        width: 3.125rem;
        float:left;
        margin-right: auto;
        cursor: pointer;
        padding-left: 5px;
        padding-top: 5px;
         
    }
    .nav-text{
        /* margin-right: 50px; */
        display: flex;
        gap: 1.875rem;
        color: white;
        text-align: center;
        /* margin-left: 31.25rem; */
        margin-left: 0;
        margin-top: 1.25rem;
        
    }
    .text-above{
        position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:  2rem;
      text-align: center;
      color: white;
      font-weight: 600;
      margin-top: 2.5rem;
      display: flex;
      
    }
    .text-below{
        position: absolute;
        top:45%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        text-align: center;
        color: white;
        font-weight: 200;
        margin-top: 2rem;
        display: flex;
        
    }
    .top-nav{
    
        /* margin-top: 10px; */
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 1.75rem;
        flex-direction: column;
    }
    .nav{
        /* margin-top: 20px;
        background-color: rgb(15, 6, 6); */
      flex-direction: column;
      margin: 5px;
      width: auto;
      overflow: hidden;
    
        display: flex;
        align-items: flex-start;
    }
    .bg-image {
        height: 70vh;
    }
    .nav-text1{
        /* margin-right: 30px;
        text-align: center;
        margin-left: 200px; */
        margin-right: 1.875rem;
        text-align: center;
        
    }
    .nav-text2{
       margin-right: 1.875rem;
       text-align: center;
    }
    .nav-text3{
    margin-right: 1.875rem ;
    text-align: center;
    }
    .contact-button{
        /* margin-left: 800px; */
        margin-left: auto;
        float: none;
        display: block;
        margin-right: 0.5rem;
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        margin-right: auto;
        text-align: center;
        
    }
    .img-cards, .img-cards2 {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-right: 0;
        margin-bottom: 1.25rem;
    }
    .card-title {
        font-size: .75rem;
    }
    .card-text {
        font-size: .5rem;
    }
    .card-tex1 {
        font-size: .875rem;
    }
    .dispton {
        font-size: 18px;
    }
    .dispton1 {
        font-size: 1.25rem;
    }
    .card {
        flex: 1 1 calc(100% - 1.25rem);
    }
    .arrow, .arrow1 {
        margin-top: 1rem;
    }
    .icon-header1 {
        font-size: .625rem;
    }
    .icon-header2 {
        font-size: .5rem;
    }
    .span1 {
        font-size: .875rem;
    }
    .first-row, .second-row, .video-dis, .quotes {
        flex-direction: column;
        align-items: center;
    }
    .video-img, .quotes {
        margin-left: 0;
        margin-right: 0;
    }
    .icon-ic1, .icon-area1, .icon-area2 {
        margin-right: .625rem;
    }
    .footer{
        background-color: blue;
        height: auto;
        padding: 1rem;
        
    }
    .footer-text1{
        color: white;
        font-size: 0.875rem;
        font-weight: 500;
        text-align: center;
        padding-top: 2rem;
        margin-left: 20px;
        margin-bottom: 2rem;
    }
    .footer-text2{
        color:white;
        column-gap: 0.625rem;
        row-gap: .625rem;
        text-align: center;
        font-size: 0.625rem;
        margin-right: 0;
    }
    .footer-text2 a{
        margin-left: 0;
    }
    .client1{
        flex-direction: column;
        display: flex;
        margin-left: 1rem;
        margin-right: 0.25rem;
        margin-bottom: 1rem;
        align-items: center;

    }
    .client2{
        flex-direction: column;
        display: flex;
        margin-left: 1rem;
        margin-bottom: 1.5rem;
        align-items: center;
    }
    .client{
        margin-right: 1rem;
    }
    .footer1{
        margin-right: .25rem;
    }
    .footer-icons{
        flex-direction: column;
        display: flex;
        margin-left:0;
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        align-items: center;
    }
    .footer2{
        margin-right: 1.875rem;
    }
}