/* .btn{
    align-items: end;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.protologo img{
    /* position: relative; */
    width: 130px;
    float:left;
    margin-right: auto;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 15px;
     
}
.top-nav{
    
    /* margin-top: 10px; */
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.75rem;
}
.nav{
    /* margin-top: 20px;
    background-color: rgb(15, 6, 6); */
    
  margin: 20px;
  width: auto;
  overflow: hidden;

    display: flex;
    align-items: center;

  
}
.bg-image{
background-image: url(../assets/mainphoto.png);
/* position: relative; */
/* height: 59.1875rem; */
height: 150vh;
background-size: cover;
background-position: center;
text-align: center;

}

.nav-text{
    /* margin-right: 50px; */
    display: flex;
    gap: 1.875rem;
    color: white;
    text-align: center;
    margin-left: 350PX;
    margin-top: 1.25rem;
    
}
.nav-text1{
    /* margin-right: 30px;
    text-align: center;
    margin-left: 200px; */
    margin-right: 1.875rem;
    text-align: center;
    
}
.nav-text2{
   margin-right: 1.875rem;
   text-align: center;
}
.nav-text3{
margin-right: 1.875rem ;
text-align: center;
}
.contact-button{
    /* margin-left: 800px; */
    margin-left: auto;
    float: right;
    margin-right: 3.125rem;
    padding-top: 0.9375rem;
    padding-right: 0.9375rem;
    
}

.products{
    color:blue;
    font-size: 0.9375rem;
    
}
.dispton{
    color:blue;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
   
}
.dispton1{
    color:black;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.875rem;
}
.products{
    margin-top: 6.25rem;
    text-align: center;
    font-size: 0.8125rem;
    margin-bottom: 0.625rem;

}
.img-cards{
    flex-direction: row;
    display: flex;
    margin-top: 4.375rem;
    
}
.img-cards2{
    flex-direction: row;
    display: flex;
    margin-top: .625rem;
    height: 21.875rem;
    width: 450;
    
    
}
.card-body{
   
   /* background-color: rgb(230, 235, 237); */
   
}
.card{
    margin-right:1.25rem!important;
    padding-top: .75rem;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-bottom: .75rem;
    background-color: rgb(248, 250, 250);
    
    }
.card-title{
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 1.25rem;
}
.card-text{
    font-size: .75rem;
    font-weight: 200;
    text-align: center;
    margin-top: 1.875rem;
}
.card-tex1{
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
    margin-top: 1.875rem;
}
.arrow{
    flex-direction: row;
    display: flex;
    text-align: center;
    font-weight: 500;
    margin-left: 3.125rem;
    margin-top: 1.25rem;
}
.arrow1{
    flex-direction: row;
    display: flex;
    text-align: center;
    font-weight: 500;
    margin-top: 2.5rem;
}
.text-above{
    position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:  4rem;
  text-align: center;
  color: white;
  font-weight: 600;
  margin-top: 10rem;
  display: flex;
  
}
.text-below{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 1.1875rem;
    text-align: center;
    color: white;
    font-weight: 200;
    margin-top: 9.375rem;
    display: flex;
    
}


.icon-details{
    flex-direction: column;
    display: flex;
}
.icon-header1{
    color: black;
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
}
.icon-header2{
    font-weight: 200;
    color: black;
    font-size: .8125rem;
    row-gap: .625rem;
    margin-bottom: 2.5rem;
}
.icon-dis{
    flex-direction: row;
    display: flex;
}
.icon-ic1{
    margin-right: 1.25rem;
}
.first-row{
    flex-direction: row;
    display: flex;
    margin-bottom: 3.75rem;
}
.second-row{
    flex-direction: row;
    display: flex;
}
.services{
    gap:.625rem;
    flex-direction: column;
    display: flex;
    margin-bottom: 3.75rem;
}

.icon-area1{
    margin-right: 2.5rem;
}
.icon-area2{
    margin-right: 2.5rem;
    margin-bottom: 6.25rem;
}
.span1{
    font-size: 1.25rem;
}

.about-section{
    background-color: rgb(232, 239, 242);
}

.service-section{
    margin-bottom: 6.25rem;
}
.about-dis{
    margin-bottom: 5rem;
    flex-direction: column;
    display: flex;
    text-align: center;
}
.video-dis{
    flex-direction: row;
    display: flex;
}

.video-img{
    margin-left:9.375rem;
    margin-right: 3.125rem;
}
.quotes{
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-left: 15.625rem;
    margin-bottom: 6.25rem;
}
.card-img-top1{
    height: 3.125rem;
    width: 3.125rem;
}
.footer{
    background-color: blue;
    height: 25rem;
    
}
.footer-text1{
    color: white;
    font-size: 1.875rem;
    font-weight: 500;
    text-align: center;
    padding-top: 6.25rem;
    margin-left: 20px;
    margin-bottom: 3.125rem;
}
.footer-text2{
    color:white;
    column-gap: .625rem;
    row-gap: .625rem;
    text-align: center;
    font-size: 1.125rem;
    margin-right: 30px;
}
.footer-text2 a{
    margin-left: 6.25rem;
}
.client1{
    flex-direction: row;
    display: flex;
    margin-left: 25rem;
    margin-right: 3.125rem;
    margin-bottom: 3.75rem;
}
.client2{
    flex-direction: row;
    display: flex;
    margin-left: 37.5rem;
    margin-bottom: 6.25rem;
}
.client{
    margin-right: 3.125rem;
}
.footer1{
    margin-right: .25rem;
}
.footer-icons{
    flex-direction: row;
    display: flex;
    margin-left:40.625rem;
    margin-top: 1.875rem;
    padding-top: 1.875rem;
}
.footer2{
    margin-right: 1.875rem;
}

/* media queries */

@media (max-width:1200px) {
    
    .nav-text{
        /* margin-right: 50px; */
        display: flex;
        gap: 1.875rem;
        color: white;
        text-align: center;
        margin-left: 31.25rem;
        margin-top: 1.25rem;
        
    }
    .text-above{
        position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:  4rem;
      text-align: center;
      color: white;
      font-weight: 600;
      margin-top: 10rem;
      display: flex;
      
    }
    .text-below{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 1.1875rem;
        text-align: center;
        color: white;
        font-weight: 200;
        margin-top: 8.4375rem;
        display: flex;
        
    }
    .top-nav{
    
        /* margin-top: 10px; */
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 1.75rem;
    }
    .nav{
        /* margin-top: 20px;
        background-color: rgb(15, 6, 6); */
        
      margin: 20px;
      width: auto;
      overflow: hidden;
    
        display: flex;
        align-items: center;
    
      
    }
    .nav-text1{
        /* margin-right: 30px;
        text-align: center;
        margin-left: 200px; */
        margin-right: 1.875rem;
        text-align: center;
        
    }
    .nav-text2{
       margin-right: 1.875rem;
       text-align: center;
    }
    .nav-text3{
    margin-right: 1.875rem ;
    text-align: center;
    }
    .contact-button{
        /* margin-left: 800px; */
        margin-left: auto;
        float: right;
        margin-right: 3.125rem;
        padding-top: 0.9375rem;
        padding-right: 0.9375rem;
        
    }
    
}
@media (max-width:992px){
    .nav-text{
        /* margin-right: 50px; */
        display: flex;
        gap: 1.875rem;
        color: white;
        text-align: center;
        margin-left: 31.25rem;
        margin-top: 1.25rem;
        
    }
    .text-above{
        position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:  4rem;
      text-align: center;
      color: white;
      font-weight: 600;
      margin-top: 10rem;
      display: flex;
      
    }
    .text-below{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 1.1875rem;
        text-align: center;
        color: white;
        font-weight: 200;
        margin-top: 8.4375rem;
        display: flex;
        
    }
    .top-nav{
    
        /* margin-top: 10px; */
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 1.75rem;
    }
    .nav{
        /* margin-top: 20px;
        background-color: rgb(15, 6, 6); */
        
      margin: 20px;
      width: auto;
      overflow: hidden;
    
        display: flex;
        align-items: center;
    
      
    }
    .nav-text1{
        /* margin-right: 30px;
        text-align: center;
        margin-left: 200px; */
        margin-right: 1.875rem;
        text-align: center;
        
    }
    .nav-text2{
       margin-right: 1.875rem;
       text-align: center;
    }
    .nav-text3{
    margin-right: 1.875rem ;
    text-align: center;
    }
    .contact-button{
        /* margin-left: 800px; */
        margin-left: auto;
        float: right;
        margin-right: 3.125rem;
        padding-top: 0.9375rem;
        padding-right: 0.9375rem;
        
    }
}
@media (max-width: 768px) {
    .nav-text{
        /* margin-right: 50px; */
        display: flex;
        gap: 1.875rem;
        color: white;
        text-align: center;
        margin-left: 31.25rem;
        margin-top: 1.25rem;
        
    }
    .text-above{
        position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:  4rem;
      text-align: center;
      color: white;
      font-weight: 600;
      margin-top: 10rem;
      display: flex;
      
    }
    .text-below{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 1.1875rem;
        text-align: center;
        color: white;
        font-weight: 200;
        margin-top: 8.4375rem;
        display: flex;
        
    }
    .top-nav{
    
        /* margin-top: 10px; */
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 1.75rem;
        flex-direction: column;
    }
    .nav{
        /* margin-top: 20px;
        background-color: rgb(15, 6, 6); */
        
      margin: 20px;
      width: auto;
      overflow: hidden;
    
        display: flex;
        align-items: center;
    
      
    }
    .nav-text1{
        /* margin-right: 30px;
        text-align: center;
        margin-left: 200px; */
        margin-right: 1.875rem;
        text-align: center;
        
    }
    .nav-text2{
       margin-right: 1.875rem;
       text-align: center;
    }
    .nav-text3{
    margin-right: 1.875rem ;
    text-align: center;
    }
    .contact-button{
        /* margin-left: 800px; */
        margin-left: auto;
        float: right;
        margin-right: 3.125rem;
        padding-top: 0.9375rem;
        padding-right: 0.9375rem;
        
    }
    
}
@media (max-width: 576px){
    .nav-text{
        /* margin-right: 50px; */
        display: flex;
        gap: 1.875rem;
        color: white;
        text-align: center;
        margin-left: 31.25rem;
        margin-top: 1.25rem;
        
    }
    .text-above{
        position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:  4rem;
      text-align: center;
      color: white;
      font-weight: 600;
      margin-top: 10rem;
      display: flex;
      
    }
    .text-below{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 1.1875rem;
        text-align: center;
        color: white;
        font-weight: 200;
        margin-top: 8.4375rem;
        display: flex;
        
    }
    .top-nav{
    
        /* margin-top: 10px; */
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 1.75rem;
        flex-direction: column;
    }
    .nav{
        /* margin-top: 20px;
        background-color: rgb(15, 6, 6); */
        
      margin: 20px;
      width: auto;
      overflow: hidden;
    
        display: flex;
        align-items: center;
    
      
    }
    .nav-text1{
        /* margin-right: 30px;
        text-align: center;
        margin-left: 200px; */
        margin-right: 1.875rem;
        text-align: center;
        
    }
    .nav-text2{
       margin-right: 1.875rem;
       text-align: center;
    }
    .nav-text3{
    margin-right: 1.875rem ;
    text-align: center;
    }
    .contact-button{
        /* margin-left: 800px; */
        margin-left: auto;
        float: right;
        margin-right: 3.125rem;
        padding-top: 0.9375rem;
        padding-right: 0.9375rem;
        
    }
}