.product-images{
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    column-gap: 50px;
    margin-right: 200px;
    
}
.product-name1{
    color: #25AAE1;
    margin-left: 50px;
    font-weight: 400;

}
.product-name{
color: #161C2D;
margin-left: 50px;
font-weight: 400;
}
.about-dis1{
    margin-bottom: 8rem;
    flex-direction: column;
    display: flex;
    text-align: center;
}
.flysky-section{
    margin-top: 80px;
    
}
.video-dis1{
    flex-direction: row;
    display: flex;
    margin-left: 100px;
    column-gap: 60px;
}
ol {
    list-style-type: decimal;
    margin-left: 20px; /* Adjust margin if needed */
    text-align: left;
    margin-bottom: 30px;
    opacity: 70%;
  }
.flysky-p{
    text-align: left;
}
.flysky-img{
     height: 350px;
     width: 430px;
}
.flysky-div{
    margin-left: 160px;
}
.dispton1{
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.875rem;
    margin-top: 5px;
    margin-right: 300px;
    margin-left: 120px;
}
.dispton11{
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.875rem;
    margin-top: 5px;
    margin-right: 180px;
    margin-left: 160px;
}
.description-section{


}
.description-head{
    margin-left: 250px;
    font-size: 36px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 30px;
}
.description-p{
    margin-left: 250px;
    opacity: 70%;
    font-size: 16px;
    margin-bottom: 50px;

}
.links{
   text-decoration: underline;
}
.features-ol li{ 
    list-style-type: decimal;
    margin-left: 250px;
    
}
.feature-images{
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    column-gap: 50px;
    height: 340px;
     width: 500px;
     margin-bottom: 50px;
}
.comment-section{
    background-color: #F4F7FA;
}
.comment-head{
    color: #161C2D;
    font-size: 20px;
    font-weight: 700;
}
.quotes1{
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-left: 500px;
    margin-bottom: 6.25rem;
}
.img-cards3{
    flex-direction: row;
    display: flex;
    margin-top: .625rem;
    height: 21.875rem;
    width: 450;
    border: none;
}
/* Media queries */

@media (max-width:1200px){
    .product-images{
        display: flex;
        flex-direction: column;
        margin-left: 250px;
        column-gap: 50px;
    }
    .video-dis1{
        flex-direction: column;
        display: flex;
        margin-left: 80px;
        column-gap: 60px;
        margin-right: 80px;
    }
    .dispton1{
        font-size: 2rem;
    }
    .feature-images{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:992px){

    .product-images{
        display: flex;
        flex-direction: column;
        margin-left: 250px;
        column-gap: 50px;
    }
    .video-dis1{
        flex-direction: column;
        display: flex;
        margin-left: 60px;
        column-gap: 60px;
        margin-right: 50px;
    }
    .dispton1{
        font-size: 1.75rem;
    }
}
@media (max-width:768px){

    .product-images{
        display: flex;
        flex-direction: column;
        margin-left: 250px;
        column-gap: 50px;
    }
    .video-dis1{
        flex-direction: column;
        display: flex;
        margin-left: 40px;
        column-gap: 60px;
        margin-right: 40px;
    }
    .dispton1{
        font-size: 1.25rem;
    }
}
@media (max-width:576px){
    .product-images{
        display: flex;
        flex-direction: column;
        margin-left: 250px;
        column-gap: 50px;
    }
    .video-dis1{
        flex-direction: column;
        display: flex;
        margin-left: 20px;
        column-gap: 60px;
        margin-right: 30px;
    }
    .dispton1{
        font-size: 1rem;
    }
}